<% layout('admin/layout') %>

<h1>Signin</h1>
<div>
  <form action="signin" method="POST">
    <input type="email" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <button>Sign In</button>
  </form>
</div>